2BIN/SD2/Anciens_Examens/ExamenJuin2019/bulletins_NOM_PRENOM/bulletin.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT bulletins (cours+, bloc+)>
<!ELEMENT cours EMPTY>
<!ATTLIST cours nom CDATA #REQUIRED>
<!ATTLIST cours code ID #REQUIRED>

<!ELEMENT bloc (etudiant*)>
<!ATTLIST bloc numero (1|2|3) #REQUIRED>

<!ELEMENT etudiant (note*)>
<!ATTLIST etudiant nom CDATA #REQUIRED>
<!ATTLIST etudiant anneeNaissance CDATA #IMPLIED>

<!ELEMENT note (#PCDATA)>
<!ATTLIST note cours IDREF #REQUIRED>


